div {
    background-color: #E6E6E6;
    font-family: sans-serif;
    position: relative;
    top: 35px;
    width: 850px;
    height: 324px;
}

.nasaPicture { 
    display: flex;
    justify-content: center;
margin-top: 50px;

}
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    list-style: none;
    padding-bottom: 25px;
    position: relative;
  }
  
 button {
  color: white;
  height: 20px;
  width: 50px;
 }
 